// fonts
$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;
$big-font: 2em;
$small-font: 1em;

// colors
$link-color: #00B7FF;
$background: rgb(31, 72, 81);
$content-background: rgb(255,255,255);
$dark: #009955;
$light: #22FF77;

// div positions
$mainmenu-padding: 2vw;
$sidebar-width: 20vw;
$navmenu-position: 20%;
