// fonts
$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;
// for doc
$root-font-size: 10px;
$big-font-size: 3rem;
$mid-font-size: 2.3rem;
$small-font-size: 1.5rem;
// for menu
$menu-big-font: 2.3rem;
$menu-small-font: 1.9rem;

// colors
$link-color: #00B7FF;
$background: rgb(31, 72, 81);
$content-background: rgb(255,255,255);
$dark: #009955;
$light: #22FF77;

// div positions and sizes
$mainmenu-padding: 2vw;
$sidebar-width: 15vw;
$navmenu-position: 20%;
$navmenu-height: 15vh;