// fonts
$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;
$font-color: #ffffff;
// for doc
$root-font-size: 10px;
$big-font-size: 4rem;
$mid-font-size: 3rem;
$small-font-size: 2rem;
// for menu
$menu-big-font: 2.3rem;
$menu-small-font: 1.9rem;

// colors
$link-color: #110022;
$content-background: #97aabd;
$darker: #314455;
$dark:#644e5b;
$mid:#9e5a63;
$light:#c96567;
$lighter: #97aabd;

// menu divs positions and sizes
$mainmenu-padding-w: 2vw;
$mainmenu-padding-h: 5vh;
$sidebar-width: 15vw;
$navmenu-position: 20%;
$navmenu-height: 15vh;


// content div positions and sizes
$content-inner-padding: 50px;

// art carousel and viewport
$viewport-height:65vh;
$viewport-width:60vw;
$carousel-width:30vw;
$carousel-height: 15vh;