@import "_variables";

#about{
    display: inline-block;
    padding: $content-inner-padding;
    background: $content-background;

    h1 {
        font: $big-font-size $font-stack;
        text-align: left;
    }
    pre {
        text-align: left;
        font: $small-font-size $font-stack;
    }
}