@import "_variables";

#articles{
    // centering the box in main window div, slightly  towards top
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    // end

    float: left;
    display: block;
    position: relative;
    padding: 50px;
    background: $content-background;
    h1 {
        font: $big-font-size $font-stack;
    }
    pre {
        font: $small-font-size $font-stack;
    }
}