@import "_variables";

#articles{
    display: inline-block;
    padding: $content-inner-padding;
    background: $content-background;
    
    h1 {
        font: $big-font-size $font-stack;
        text-align: left;
    }
    pre {
        font: $small-font-size $font-stack;
        text-align: left;
    }
}