@import "_variables";

html {
  font-size: $root-font-size;
  background: $background;
}

body{
  background: $background;
}


///////// MAIN WINDOW zone defining starts here //////////
#main-window {
  display: block;
  float: left;
  position: fixed;
  padding: $mainmenu-padding-h $mainmenu-padding-w;
  left: $sidebar-width;
  top: 0;
  width: (100vw - $sidebar-width - (2 * $mainmenu-padding-w)); // screen minus sidebar width
  height: (100vh - (2 * $mainmenu-padding-h));
  background: $background;
  text-align: center;
  
  // overflow
  max-width: (100vw - $sidebar-width - (2 * $mainmenu-padding-w));
  max-height: (100vh - (2 * $mainmenu-padding-h));
  overflow: auto;
}
//////////////////////////////////////////////////////////

///////// SIDEBAR zone defining starts here //////////
#sidebar {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: $sidebar-width;
  height: 100vh;
  background: $dark;
  opacity: 0.8;

  #navigation {
    float: left;
    position: relative;
    top: $navmenu-position;
    width: 100%;
    height: $navmenu-height;
  
    ul {
      margin:0;
      padding:0;
      list-style: none;
    }
  
    li { 
      display: block;
      position: relative;
      text-align: center;
      font: $menu-big-font $font-stack;
      padding: 0;
      background: $background;
      overflow: hidden;
      z-index: 0;

      .tab-name {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        float: left;
        width: 100%;
        height: ($navmenu-height/3);
        z-index: 2;
        background: transparent;
      }

      .slide-tab{
        position: absolute;
        right: 100%;
        width: 100%;
        height: ($navmenu-height/3);
        z-index: 1;
        background: $light;
        pointer-events: none;
      }

    }

    li:hover{
      cursor: pointer;
    }

    #hobbies{
      #hobbies-menu{
        display: none;
        width: 80%;
        opacity: 0;
        margin-left: -20%;
        float:left;
        li{
          font: $menu-small-font $font-stack;
        }
      }
    }

  }
}

//////////////////////////////////////////////////////////