#art {
  display: inline-block;
  padding: 50px;
  background: #97aabd; }
  #art h1 {
    font: 4rem "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: left; }
  #art pre {
    font: 2rem "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: left; }
  #art #viewport {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh; }
    #art #viewport img {
      display: inline-block;
      max-width: 50vw;
      max-height: 50vh; }
  #art #carousel-wrapper {
    position: relative; }
    #art #carousel-wrapper #carousel {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 7px 7px;
      cursor: pointer; }
      #art #carousel-wrapper #carousel img {
        display: inline-block;
        margin-left: 0px;
        max-width: 200px;
        max-height: 140px; }
      #art #carousel-wrapper #carousel .hidden {
        opacity: 0;
        width: 0; }
      #art #carousel-wrapper #carousel .left, #art #carousel-wrapper #carousel .right {
        opacity: 0.7;
        max-width: 150px;
        max-height: 105px; }
      #art #carousel-wrapper #carousel .center {
        margin: 0px 20px;
        border: 1px solid black; }
