#articles {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: left;
  display: block;
  position: relative;
  padding: 50px;
  background: white; }
  #articles h1 {
    font: 3rem "Lucida Grande", Helvetica, Arial, sans-serif; }
  #articles pre {
    font: 1.5rem "Lucida Grande", Helvetica, Arial, sans-serif; }
