block main-window
  link(rel='stylesheet', href='/stylesheets/art.css')
  #art
    h1
      | Art
    div.carousel-wrapper
      script var jpgNames = "#{jpgNames}"
      div.carousel
        ul#carousel-data
      a.carousel-control-prev(href="#") &lsaquo;
      a.carousel-control-next(href="#") &rsaquo;
    script(src='/scripts/jquery.jcarousel.min.js')
    script(src='/scripts/carousel.js')