block main-window
  link(rel='stylesheet', href='/stylesheets/articles.css')
  #articles
    h1
      | Articles
    pre
      | Here you can find some articles on technologies I used, tips and tricks I discovered, and on my professional experiences.
      | <br>
      div#article-list
        ul
          li
            a(href="#") Most Recent
          li 
            a(href="#") Tutorials
          li 
            a(href="#") Personal Experiences