extends layout

block main-window
  link(rel='stylesheet', href='/stylesheets/home.css')
  #home
    h1 Hi there,
    pre.
      My name is Maxime Leclerc. I'm a french student at the engineering school INSA Rennes. 
      I'm from Rennes but am currently doing an exchange semester in Vienna.
      This website showcases my professional work as well as some of my hobbies.
      <br>
      You can find my resume on LinkedIn : #[a(href="#", target="_blank") here]
