extends layout

block main-window
  link(rel='stylesheet', href='/stylesheets/about.css')
  #about
    h1 Hi there,
    pre.
      My name is Maxime Leclerc. I'm a french software engineer. 
      I graduated from the engineering school INSA Rennes, and am currently working for IT Link in Rennes.
      This website showcases my professional work as well as some of my hobbies.
      <br>
      You can find my resume on #[a(href="https://fr.linkedin.com/in/maxime-leclerc-insa", target="_blank") LinkedIn].
