#sidebar
  #navigation
    ul#menu
      li#about 
        | About
      li#articles
        | Articles
      li
        | Hobbies
        ul#hobbies
          li#music 
            | Music
          li#art 
            | Digital Art
          li#videos
            | Videos