#sidebar
  #navigation
    ul#menu
      li#about
        .tab-name About
        .slide-tab
      li#articles
        .tab-name  Articles
        .slide-tab
      li#hobbies 
        .tab-name  Hobbies
        .slide-tab
        ul#hobbies-menu
          li#music 
            .tab-name  Music
            .slide-tab
          li#art 
            .tab-name  Digital Art
            .slide-tab
          li#videos
            .tab-name Videos
            .slide-tab