#sidebar
  #navigation
    ul#menu
      li#about-tab
        .tab-name 
          div About
        .slide-tab
      li#articles-tab
        .tab-name 
          div Articles
        .slide-tab
      li#hobbies 
        .tab-name  
          div Hobbies
        .slide-tab
        ul#hobbies-menu
          li#music-tab
            .tab-name  
              div Music
            .slide-tab
          li#art-tab 
            .tab-name  
              div Digital Art
            .slide-tab
          li#videos-tab
            .tab-name 
              div Videos
            .slide-tab